button,
div,
form,
input {
    margin: 10px;
}

.gif {
    font-size: 1.5em;
    background-image: linear-gradient(90deg, #f3f8ff 0%, #deecff 49%, #c6cfff 80%, #e8d3ff 100%);
    border-radius: 5px;
    text-decoration: none;
    color: black;
    margin: 3px 6px;
    padding: 10px 20px;

}

.gif:after {
    background-color:white;
}

.gif:hover {
    animation:slidebg 2s linear infinite;
}


/*Animate the border*/
@keyframes slidebg {
    to {
        background-position:20vw;
    }
}